<div #modal class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ 'transactions.modal.title' | translate }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="transfer-type" class="form-label">{{
            'transactions.modal.type' | translate
          }}</label>
          <select
            id="transfer-type"
            class="form-select"
            [formField]="transferForm.type"
            (change)="selectTransactionType($event)"
          >
            <option [value]="transactionType.TRANSFER" selected>
              {{ 'transactions.modal.transfer' | translate }}
            </option>
            <option [value]="transactionType.BUY">
              {{ 'transactions.modal.buy' | translate }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="transfer-date" class="form-label">{{
            'transactions.modal.bookingDate' | translate
          }}</label>
          <input
            type="date"
            class="form-control"
            id="transfer-date"
            [formField]="transferForm.bookingDate"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-from-account" class="form-label">{{
            'transactions.modal.fromAccount' | translate
          }}</label>
          <select
            id="transfer-from-account"
            class="form-select"
            [formField]="transferForm.fromAccountId"
          >
            @for (account of accounts(); track account.id) {
              <option [value]="account.id">{{ account.name }}</option>
            }
          </select>
        </div>
        @if (selectedTransactionType() === transactionType.TRANSFER) {
          <div class="mb-3">
            <label for="transfer-to-account" class="form-label">{{
              'transactions.modal.toAccount' | translate
            }}</label>
            <select
              id="transfer-to-account"
              class="form-select"
              [formField]="transferForm.toAccountId"
            >
              @for (account of accounts(); track account.id) {
                <option [value]="account.id">{{ account.name }}</option>
              }
            </select>
          </div>
        }
        @if (selectedTransactionType() === transactionType.BUY) {
          <div class="mb-3">
            <label for="transfer-asset" class="form-label">{{
              'transactions.modal.asset' | translate
            }}</label>
            <select id="transfer-asset" class="form-select">
              @for (asset of assets(); track asset.id) {
                <option [value]="asset.id">{{ asset.name }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="transfer-quantity" class="form-label">{{
              'transactions.modal.quantity' | translate
            }}</label>
            <input
              type="number"
              class="form-control"
              id="transfer-quantity"
              [formField]="transferForm.quantity"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-unit-price" class="form-label">{{
              'transactions.modal.price' | translate
            }}</label>
            <input
              type="number"
              class="form-control"
              id="transfer-unit-price"
              [formField]="transferForm.unitPrice"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-fees" class="form-label">{{
              'transactions.modal.fees' | translate
            }}</label>
            <input
              type="number"
              class="form-control"
              id="transfer-fees"
              [formField]="transferForm.fees"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-taxes" class="form-label">{{
              'transactions.modal.taxes' | translate
            }}</label>
            <input
              type="number"
              class="form-control"
              id="transfer-taxes"
              [formField]="transferForm.taxes"
            />
          </div>
        }
        <div class="mb-3">
          <label for="transfer-amount" class="form-label">{{
            'transactions.modal.amount' | translate
          }}</label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            [formField]="transferForm.amount"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-note" class="form-label">{{
            'transactions.modal.note' | translate
          }}</label>
          <input
            type="text"
            class="form-control"
            id="transfer-note"
            [formField]="transferForm.note"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          {{ 'common.button.close' | translate }}
        </button>
        <button type="button" class="btn btn-primary" (click)="createTransfer()">
          {{ 'common.button.save' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
