<div #modal class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Transfer erstellen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <select
            class="form-select"
            [formField]="transferForm.type"
            (change)="selectTransactionType($event)"
          >
            <option [value]="transactionType.TRANSFER" selected>Transfer</option>
            <option [value]="transactionType.BUY">Kauf</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="transfer-date" class="form-label">Datum</label>
          <input
            type="date"
            class="form-control"
            id="transfer-date"
            [formField]="transferForm.bookingDate"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-from-account" class="form-label">Von</label>
          <input
            type="number"
            class="form-control"
            id="transfer-from-account"
            [formField]="transferForm.fromAccountId"
          />
        </div>
        @if (selectedTransactionType() === transactionType.TRANSFER) {
          <div class="mb-3">
            <label for="transfer-to-account" class="form-label">Zu</label>
            <input
              type="number"
              class="form-control"
              id="transfer-to-account"
              [formField]="transferForm.toAccountId"
            />
          </div>
        }
        @if (selectedTransactionType() === transactionType.BUY) {
          <div class="mb-3">
            <label for="transfer-asset" class="form-label">Asset</label>
            <select id="transfer-asset" class="form-select">
              @for (asset of assets(); track asset.id) {
                <option [value]="asset.id">{{ asset.name }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="transfer-quantity" class="form-label">Stückzahl</label>
            <input
              type="number"
              class="form-control"
              id="transfer-quantity"
              [formField]="transferForm.quantity"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-unit-price" class="form-label">Preis</label>
            <input
              type="number"
              class="form-control"
              id="transfer-unit-price"
              [formField]="transferForm.unitPrice"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-fees" class="form-label">Gebühren</label>
            <input
              type="number"
              class="form-control"
              id="transfer-fees"
              [formField]="transferForm.fees"
            />
          </div>
          <div class="mb-3">
            <label for="transfer-taxes" class="form-label">Steuern</label>
            <input
              type="number"
              class="form-control"
              id="transfer-taxes"
              [formField]="transferForm.taxes"
            />
          </div>
        }
        <div class="mb-3">
          <label for="transfer-amount" class="form-label">Betrag</label>
          <input
            type="number"
            class="form-control"
            id="transfer-amount"
            [formField]="transferForm.amount"
          />
        </div>
        <div class="mb-3">
          <label for="transfer-note" class="form-label">Notiz</label>
          <input
            type="number"
            class="form-control"
            id="transfer-note"
            [formField]="transferForm.note"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary" (click)="createTransfer()">Speichern</button>
      </div>
    </div>
  </div>
</div>
