<div #modal class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Asset erstellen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="asset-name" class="form-label">Name</label>
          <input type="text" class="form-control" id="asset-name" [formField]="assetForm.name">
        </div>
        <div class="mb-3">
          <label for="asset-isin" class="form-label">Isin</label>
          <input type="text" class="form-control" id="asset-isin" [formField]="assetForm.isin">
        </div>
        <div class="mb-3">
          <label for="asset-ticker" class="form-label">Ticker</label>
          <input type="text" class="form-control" id="asset-ticker" [formField]="assetForm.ticker">
        </div>
        <div class="mb-3">
            <label for="asset-type" class="form-label">Typ</label>
            <select class="form-select" [formField]="assetForm.type">
                <option selected disabled>- Bitte auswählen -</option>
                <option [value]="assetType.ETF">{{ assetType.ETF }}</option>
                <option [value]="assetType.STOCK">{{ assetType.STOCK }}</option>
            </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
        <button type="button" class="btn btn-primary" (click)="createAsset()">Speichern</button>
      </div>
    </div>
  </div>
</div>

