<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ 'accounts.table.name' | translate }}</th>
      <th scope="col">{{ 'accounts.table.bank' | translate }}</th>
      <th scope="col">{{ 'accounts.table.balance' | translate }}</th>
      <th scope="col">{{ 'accounts.table.type' | translate }}</th>
    </tr>
  </thead>
  <tbody>
    @for (a of accounts(); track a.id) {
      <tr>
        <td>{{ a.name }}</td>
        <td>{{ a.bankName }}</td>
        <td>{{ a.currentBalance | currency: 'EUR' }}</td>
        <td>{{ a.type | accountTypeLabel }}</td>
      </tr>
    }
  </tbody>
</table>
