.header {
  height: var(--header-height);
  background-color: var(--primary);
  padding: var(--header-padding-x) var(--header-padding-y);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header__buttons--menu {
    background: transparent;
    border: none;
    color: white;
  }
}

h2 {
  margin: 0;
}

.dropdown-toggle::after {
  display: none;
}
