.header {
    height: var(--header-height);
    background-color: var(--header-bg);
    padding: var(--header-padding-x) var(--header-padding-y);
    color: white;
    display: flex;
    align-items: center;
}