<div class="header">
  <h2>{{ 'common.title' | translate }}</h2>
  <div class="dropdown">
    <button
      type="button"
      class="header__buttons--menu dropdown-toggle"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <span class="fa-solid fa-ellipsis-vertical fa-xl"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <button class="dropdown-item" (click)="changeLanguage()">
          {{ 'common.button.language' | translate }}
        </button>
      </li>
      <li>
        <button class="dropdown-item" (click)="logout()">
          {{ 'common.button.logout' | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>
