.sidebar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--sidebar-padding-x) var(--sidebar-padding-y);
    background-color: var(--sidebar-bg);
    height: calc(100vh - var(--header-height));
}