:root {
  --header-bg:  #2B3856;
  --sidebar-bg: #F5F5F5;

  --text-primary: #1f2937;
  --text-secondary: #64748b;

  --border: #e2e8f0;

  --primary: #2563eb;

  --profit: #16a34a;
  --loss: #dc2626;
  --warning: #f59e0b;
}